In [1]:
import pandas as pd

data = pd.read_csv('churn_data.csv')

In [2]:
data.head()

,CustomerID,Gender,SeniorCitizen,Tenure,StreamingTV,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,Female,0,4,No,Month-to-month,Yes,Mailed check,45.30,196.95,1
1,1,Male,0,27,No internet service,One year,No,Mailed check,20.30,595.05,0
2,2,Male,0,45,No,One year,Yes,Credit card (automatic),95.00,4368.85,0
3,3,Male,0,61,Yes,One year,Yes,Electronic check,106.00,6547.7,1
4,4,Male,0,71,Yes,Two year,Yes,Electronic check,105.25,7291.75,0

11

#### Feladat 1.

Mekkora az átlag churn ráta a 9 hónapnál régebbi ügyfeleknél a különböző szerződéstípusok esetén?

In [3]:
import pandasql as psql

psql.sqldf("""""")

#### Feladat 2.

Vizsgálja meg a lehetséges változók típusát és eloszlását, ahol szükséges, ott kezelje a hiányzó értékeket!

#### Feladat 3.

Írjon egy függvényt, amely a folytonos változókat 10 egyenlő részre osztja.

In [4]:
def binning_features(df, x, grp = 10):
    
    pass

#### Feladat 4.

Építsen klasszifikációs modellt a churn előrejelzésére.

Alkalmazzon tanító és teszt bontást, a modellek kiértékelésére pedig használja az AUC mérőszámot!